
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
/*	background-color: #006064;
*/	
	background-color: #003b3d;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

#content-grid {
	display: grid;
	grid-template-rows: 150px 70px 280px 30px;
	grid-row-gap: 20px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}